.container{
  display: grid;
  grid-template-columns: 1fr;
}
.navbar{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.cuerpo{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.articulos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 5rem;
}
.newsletter{
  display: grid;
  grid-template-columns: 1fr;
}

@include respond-to($bp-sm){
  .cuerpo{
    display: grid;
    grid-template-columns: 1fr;
  }
  .navbar{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 1rem;

    .navbar__logo{
      font-size: $font-xxlarge;
      padding-top: 0.8rem;
    }
    .datos{
      text-align: right;
      padding-right: 5rem;
    }
    .hidd{
      display: none;
    }
  }

  .barralateral{
    display: none;
  }
  .articulos{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0;

    .noticia__titulo{
      font-size: $font-xlarge2;
    }

    .noticia__parrafo{
      font-size: $font-xlarge;
    }
  }
  .newsletter__titulo{
    font-size: 100rem;
  }
}